<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @order.sender.last_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @order.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
