<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading"><%= @card.style %></h2>
            <p class="lead"><%= @card.description %></p>
            <p class="lead">$ <%= @card.price %></p><br>
            <p>When would you like this card to arrive?</p>


            <%= simple_form_for(@line_item, :card_id => @card.id) do |f| %>
              <% if @line_item.errors.any? %>
                <div id="error_explanation">
                   <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

                    <ul>
                      <% @line_item.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                </div>
                <% end %>



    <%= f.hidden_field :card_id, :value => @card.id %>
    <%= f.input :recipient_id %>
    <%= f.input :message %>
    <%= f.button :submit, 'Buy card!' %>
    <%= link_to 'Back', line_items_path, class: "btn btn-success" %>
<% end %>



        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <br>
            <%= image_tag @card.image.url(:medium) %>
        </div>
    </div>
</div>



