<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Forget Me Note" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Forget Me Note" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <link href="http://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Average" rel="stylesheet" type="text/css">

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
